{% extends 'base.html' %}

{% block title %}Viewer{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='zoomify/zoomify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zoomify/myzoomify.css') }}">

    {#    bootstrap datepicker#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mydatepicker.css') }}">

{% endblock %}

{% block content %}

    <div class="examples">
        {#				<p><img src="{{ url_for('static', filename='zoomify/zoomify.css') }}" class="img-rounded"></p>#}
        <img src="{{ url_for('static', filename='images/emma-watson-1.jpg') }} " class="img-rounded">
    </div>

    <hr>

    <div class="datepickers">
        <input type='text' class='form-control datepicker' id='datepicker' name='date' placeholder="最早">
        <input type='text' class='form-control datepicker' id='datepicker2' name='date' placeholder="最新">
    </div>

{% endblock %}


{% block js_scope %}

    <script src="{{ url_for('static', filename='zoomify/zoomify.js') }}"></script>
    <script type="text/javascript">
        $('.examples img').zoomify();
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script>

        $.fn.datepicker.dates['cn'] = {   //切换为中文显示
            days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
            daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
            daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
            months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            today: "今天",
            clear: "清除"
        };

        $('.datepicker').datepicker({
            autoclose: true, //自动关闭
            beforeShowDay: $.noop,    //在显示日期之前调用的函数
            calendarWeeks: false,     //是否显示今年是第几周
            clearBtn: true,          //显示清除按钮
            daysOfWeekDisabled: [],   //星期几不可选
            endDate: Infinity,        //日历结束日期
            forceParse: true,         //是否强制转换不符合格式的字符串
            format: 'yyyy-mm-dd',     //日期格式
            keyboardNavigation: true, //是否显示箭头导航
            language: 'cn',           //语言
            minViewMode: 0,
            orientation: "auto",      //方向
            rtl: false,
            startDate: -Infinity,     //日历开始日期
            startView: 0,             //开始显示
            todayBtn: false,          //今天按钮
            todayHighlight: false,    //今天高亮
            weekStart: 0              //星期几是开始
        });

        $('#datepicker').on('changeDate', function (e) {
            console.log(e);
        });

        $('#datepicker2').on('changeDate', function (e) {
            console.log(e);
        });
    </script>
{% endblock %}
